 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm majoring in Information System and minoring in Computer Sciencec. I have passion with software developement and database design. I'm very actively seeking an internship in software developer to enhance my skills and knowledge</p>
                </div>
                <div class="col-lg-4">
                    <p>In my leisure time I'm studying for Java web stack and write small application by C#. Currently, I'm also taking the SQL courses on Udemy to prepare my Microsoft Certified Solutions Associate emphasis in SQL Server 2012 </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> My Resume
                    </a>
                </div>
            </div>
        </div>
    </section>